body {
  background-image: url(../img/Backinicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 5px 10px;
  border: 2px #00851d solid;
  border-radius: 5px;
  height: 90vh;
  width: 80vh;
  background-color: rgba(255, 255, 255, 0.568);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00851d;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007117;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #00611d;
}

button {
  background-color: #00851d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #005212;
}


/* cuadro de búsqueda */
.buscarInput {
  padding: 10px;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* botón de búsqueda */
.botonBuscar {
  padding: 10px 20px;
  background-color: #00851d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* hover de boton de busqueda */
.botonBuscar:hover {
  background-color: #005212;
}

/* lista de resultados */
.listaDeBusqueda {
  list-style: none;
  padding: 0;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* lista de resultados elementos */
.listaDeBusqueda li {
  width: 45%; !important  
  padding: 10px;
  border: 2px #00851d solid;
  border-radius: 5px;
  text-align: left;
  backg
}